<div class="card border-0 shadow-sm rounded h-100" style="max-height: 400px !important;">
  <div class="card-body d-flex flex-column justify-content-center align-items-center text-center p-4">

    <div class="user-avatar bg-white position-relative w-50 rounded h-25 mb-3 fw-bold">
      <img src="user-profile.png" routerLink="/profile" class="pointer d-block position-absolute w-100 h-100" alt="">
    </div>

    <h4 routerLink="/profile" class="card-title fw-bold mb-3 pointer">{{ user()?.sub | lowercase }}</h4>

    <!-- <span class="badge bg-dark p-1  mb-4" >{{user()?.role | lowercase}}</span> -->

    <button routerLink="post/create" class="btn btn-primary w-100 fw-bold mb-2 py-2">
      <i class="fa-solid fa-pen me-2"></i> Create Post
    </button>
    @if (user()?.role === "ADMIN") {
      <button routerLink="/dashboard" class="btn btn-light border w-100 fw-bold py-2">
        Dashboard
      </button>
    }

  </div>
</div>
