<nav class="navbar navbar-expand-lg fw-bold bg-primary-subtle" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-flex fs-3 align-items-center text-light" href="#">
      <!-- <img src="assets/logo-01blog.svg" alt="01Blog" class="logo-img"/> -->
      <span class="brand-text">01<span class="text-primary text-bold">Blog</span> </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-sm btn-outline-danger fw-bold" aria-current="button" (click)="onLogout()">logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
