/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
body {
  width: 100%;
  height: 100vh;
  background-color: #82B1FF;
}

.pointer {
  cursor: pointer !important;
}
